           .page {
               display: flex;
               flex-direction: column;
               background-image: url(bkgnd.jpg);
               overflow: auto;
               min-height: 100%;
               min-width: 100%;
               justify-content: center;
           }
           
           .header {
               display: flex;
               position: relative;
               background-color: rgb(43, 61, 73);
               left: 200px;
               top: 0px;
               box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.6);
               max-width: 1000px;
           }
           
           .h1 {
               margin: 10px;
               font-family: 'Times New Roman', Times, serif;
               color: orange;
           }
           
           .mcontent {
               display: flex;
               position: relative;
               left: 200px;
               flex-direction: row;
               box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.6);
               max-width: 1000px;
               margin-top: 10px;
           }
           
           .mtext {
               display: flex;
               flex-direction: column;
               min-width: 624px;
               background-color: rgb(53, 75, 90);
               min-width: 624px;
               color: rgb(240, 170, 64);
           }
           
           .foto {
               display: flex;
               background-color: rgb(67, 95, 114);
               object-fit: cover;
               padding-top: 2px;
               padding-bottom: 2px;
               min-width: 300px;
           }
           
           .regtext {
               font-family: 'Times New Roman', Times, serif;
               padding: 3px;
               color: rgb(240, 170, 64);
               margin: 3px;
               font-size: 19px;
           }
           
           .stext {
               font-size: 14px;
               font-family: 'Times New Roman', Times, serif;
               color: rgb(240, 170, 64);
           }
           
           .contact {
               display: flex;
               flex-direction: column;
               background-color: rgb(67, 95, 114);
               min-width: 300px;
               min-height: 200px;
           }
           
           .hlink {
               color: rgb(240, 170, 64);
           }
           
           .code {
               background-color: gray;
               margin: 25px;
               display: pre;
               overflow: auto;
               color: black;
           }
           
           .footer {
               display: flex;
               flex-direction: row;
               position: relative;
               left: 200px;
               margin-top: 10px;
               box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.6);
               max-width: 1005px;
               justify-content: center;
               background-color: rgb(43, 61, 73);
           }
           
           .icon {
               height: 50px;
               width: 50px;
               padding: 15px;
           }
           
           .iconrss {
               height: 50px;
               width: auto;
               padding: 15px;
           }